@media only screen and (orientation: landscape) and (max-width: 1024px) {
  h1 {
    font-size: large;
  }
  #button-box {
    flex-direction: row;
  }
  #flip-container {
    width: 85vw;
  }
  #prof-pic {
    width: 80px;
    height: 80px;
  }

  .project-description {
    font-size: small;
  }
  #resume-frame {
    height: 65vh;
    width: 95vw;
  }
}

@media only screen and (orientation: landscape) and (max-device-width: 823px) {
  button {
    height: 35px;
  }
  #flip-card-window {
    width: 80vw;
    height: 80vh;
  }
  #tech-name-box {
    display: none;
  }
  p,
  #about-contact {
    font-size: small;
  }
  #project-card-container {
    width: 95vw;
  }
  .project-img {
    display: none;
  }

  .project-description {
    font-size: 11px;
  }

  .project-techs img {
    width: 2vw;
    height: 2vw;
  }

  #resume-frame {
    height: 60vh;
    width: 95vw;
  }
}

@media only screen and (orientation: portrait) and (max-width: 768px) {
  body {
    font-size: medium;
  }

  button {
    height: 35px;
  }

  #flip-card-window {
    width: 60vw;
    height: 60vh;
  }

  #button-box {
    min-height: 160px;
    flex-direction: column;
  }

  #prof-pic {
    width: 100px;
    height: 100px;
  }

  #flip-container {
    width: 75vw;
  }

  #project-card-container {
    flex-direction: column;
  }

  .project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80vw;
    height: 20vh;
  }

  .project-title {
    margin: 0;
    padding: 0;
  }

  #techs {
    width: 65px;
    height: 65px;
  }

  #tech-name {
    padding-top: 1vh;
  }

  .project-img {
    display: none;
  }

  #resume-frame {
    height: 70vh;
    width: 95vw;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: large;
  }
  p,
  #about-contact {
    font-size: small;
  }
  #prof-pic {
    width: 80px;
    height: 80px;
  }
}
